
<div class="row">
  <div class="col-md-6 ">
    {{! user clicks login and has an area to input an email }}
    <h2>Login</h2>

   

{{!-- New form --}}
    <form class="form login-form ">
  <div class="mb-3">
    <label class="form-label"  for="email-login">Email address</label>
    <input type="text" class="form-control" id="email-login" id="exampleInputEmail1" aria-describedby="emailHelp">
 
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-outline-secondary">Login</button>
</form>
  </div>
  
  
  

<div class="col-md-6">
    {{! user clicks login and has an area to input an email }}
    <h2>Sign Up</h2>
   <form class="form login-form">
    <div class="mb-3">
    <label for="name-login" class="form-label">Name</label>
    <input type="text" class="form-control" id="name-signup">
  </div>
  <div class="mb-3">
    <label class="form-label"  for="email-login">Email address</label>
    <input type="text" class="form-control" id="email-login" id="exampleInputEmail1" aria-describedby="emailHelp">
 
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
</form>
  </div>

</div>

<script src="./js/login.js"></script>